
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/.qmake.stash
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/bin.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/connectionf2f.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/freechat.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/main.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_bin.cpp
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_bin.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_connectionf2f.cpp
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_connectionf2f.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_freechat.cpp
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_freechat.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_peerin.cpp
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_peerin.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_peerout.cpp
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_peerout.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_predefs.h
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/peerin.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/peerout.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/test.exe
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/test.ilk
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/test.pdb
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/test.vc.pdb
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/Makefile
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/Makefile.Debug
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/Makefile.Release
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/ui_freechat.h
test/test.pro.user
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/Freechat.exe
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/Freechat.ilk
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/Freechat.pdb
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/Freechat.vc.pdb
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/.qmake.stash
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/Makefile
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/Makefile.Debug
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/Makefile.Release
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/bin.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/connectionf2f.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/cryptography.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/datasave.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/Freechat.exe
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/freechat.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/main.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/moc_bin.cpp
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/moc_bin.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/moc_connectionf2f.cpp
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/moc_connectionf2f.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/moc_datasave.cpp
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/moc_datasave.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/moc_freechat.cpp
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/moc_freechat.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/moc_peerin.cpp
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/moc_peerin.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/moc_peerout.cpp
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/moc_peerout.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/moc_predefs.h
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/peerin.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/peerout.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/qrc_resources.cpp
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/release/qrc_resources.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Release/ui_freechat.h
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/cryptography.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/datasave.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_cryptography.cpp
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_cryptography.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_datasave.cpp
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_datasave.obj
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/qrc_resources.cpp
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/qrc_resources.obj
Freechat/test.pro.user.0f00567.4.10-pre1
Freechat/test.pro.user
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/.qmake.stash
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/bin.obj
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/connectionf2f.obj
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/cryptography.obj
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/datasave.obj
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/Freechat.exe
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/Freechat.ilk
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/freechat.obj
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/Freechat.pdb
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/Freechat.vc.pdb
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/main.obj
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_bin.cpp
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_bin.obj
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_connectionf2f.cpp
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_connectionf2f.obj
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_cryptography.cpp
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_cryptography.obj
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_datasave.cpp
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_datasave.obj
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_freechat.cpp
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_freechat.obj
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_peerin.cpp
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_peerin.obj
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_peerout.cpp
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_peerout.obj
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_predefs.h
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/peerin.obj
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/peerout.obj
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/qrc_resources.cpp
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/qrc_resources.obj
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/Makefile
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/Makefile.Debug
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/Makefile.Release
build-test-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/ui_freechat.h
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/li.bin
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/localhost.bin
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/nicks.bin
build-test-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/wi.bin
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/.qmake.stash
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/bin.obj
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/connectionf2f.obj
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/cryptography.obj
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/datasave.obj
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/Freechat.exe
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/Freechat.ilk
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/freechat.obj
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/Freechat.pdb
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/Freechat.vc.pdb
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/main.obj
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_bin.cpp
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_bin.obj
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_connectionf2f.cpp
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_connectionf2f.obj
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_cryptography.cpp
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_cryptography.obj
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_datasave.cpp
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_datasave.obj
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_freechat.cpp
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_freechat.obj
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_peerin.cpp
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_peerin.obj
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_peerout.cpp
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_peerout.obj
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/moc_predefs.h
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/peerin.obj
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/peerout.obj
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/qrc_resources.cpp
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/debug/qrc_resources.obj
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/li.bin
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/Makefile
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/Makefile.Debug
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/Makefile.Release
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/nicks.bin
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/ui_freechat.h
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/wi.bin
Freechat/Freechat.pro.user.33cdf5d
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/localhost.bin
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/.qmake.stash
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/bin.obj
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/connectionf2f.obj
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/cryptography.obj
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/datasave.obj
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/Freechat.exe
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/Freechat.ilk
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/freechat.obj
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/Freechat.pdb
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/Freechat.vc.pdb
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/main.obj
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_bin.cpp
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_bin.obj
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_connectionf2f.cpp
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_connectionf2f.obj
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_cryptography.cpp
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_cryptography.obj
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_datasave.cpp
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_datasave.obj
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_freechat.cpp
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_freechat.obj
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_peerin.cpp
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_peerin.obj
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_peerout.cpp
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_peerout.obj
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/moc_predefs.h
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/peerin.obj
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/peerout.obj
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/qrc_resources.cpp
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/debug/qrc_resources.obj
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/lh.bin
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/li.bin
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/Makefile
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/Makefile.Debug
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/Makefile.Release
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/nicks.bin
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/ui_freechat.h
build-Freechat-Desktop_Qt_5_11_2_MSVC2017_64bit-Debug/wi.bin
Freechat/Freechat.pro.user.0f00567
Freechat/freechat.pro.user
build-Freechat-Desktop_Qt_5_12_0_MSVC2017_64bit2-Debug/kali.bin
