QWidget
{
    background-color: black; /*#091833*/
    color: #FFD700;
}

QDialog
{
    /*border: 1px solid #00FFFF;*/
}

QListWidget
{
    border: 1px solid #00FFFF;
    border-radius: 2.5px;
    color: #FFD700;
}

QTextEdit
{
    border: 1px solid #00FFFF;
    border-radius: 2.5px;
}


QLineEdit
{
    border: 1px solid #00FFFF;
    border-radius: 5px;
    padding: 0 8px;
}

QLabel
{
    border: 1px solid #00FFFF;
    border-radius: 5px;
    padding: 2px;
    color: #FFD700;
}

QPushButton
{
    border: 1.5px solid #00FFFF;
    border-radius: 5px;
    color: #FFD700;
    padding: 0 8px;
}
