QWidget
{
    background-color: black;
    color: #FFD700;
}

QDialog
{
    background-color: black;
    color: #FFD700;
}

QListWidget
{
    border: 1.2px;
    border-color: #00FFFF;
    border-style: outset;
    border-radius: 2.5px;
    color: #FFD700;
}

QListWidget:hover
{
    border: 1.5px;
    border-color: #8A2BE2;
    border-style: outset;
    border-radius: 2.5px;
    color: #FFD700;
}

QTextEdit
{
    border: 1.2px;
    border-color: #00FFFF;
    border-style: outset;
    border-radius: 2.5px;
}

QLineEdit
{
    border: 1.2px;
    border-color: #00FFFF;
    border-style: outset;
    border-radius: 2.5px;
    padding: 0 8px;
}

QLineEdit:read-only
{
    border: 1.2px;
    border-color: #DC143C;
    border-style: outset;
    border-radius: 2.5px;
    padding: 0 8px;
}

QLineEdit:focus
{
    border: 1.5px;
    border-color: #8A2BE2;
    border-style: outset;
    border-radius: 2.5px;
    padding: 0 8px;
}

QLineEdit:hover
{
    border: 1.5px;
    border-color: #008B8B;
    border-style: outset;
    border-radius: 2.5px;
    padding: 0 8px;
}

QLabel
{
    border: 1.2px;
    border-color: #00FFFF;
    border-style: outset;
    border-radius: 2.5px;
    color: #FFD700;
}
