QWidget
{
    background-color: black;
    color: #FFD700;
}

QDialog
{
    background-color: black;
    border: 1.2px;
    border-color: #00FFFF;
    border-style: outset;
    border-radius: 0px;
    color: #FFD700;
}

QDialog:hover
{
    background-color: black;
    border: 1.5px;
    border-color: #8A2BE2;
    border-style: outset;
    border-radius: 0px;
    color: #FFD700;
}

QListWidget
{
    border: 1.2px;
    border-color: #00FFFF;
    border-style: outset;
    border-radius: 2.5px;
    color: #FFD700;
}

QListWidget:hover
{
    border: 1.5px;
    border-color: #8A2BE2;
    border-style: outset;
    border-radius: 2.5px;
    color: #FFD700;
}

QTextEdit
{
    border: 1.2px;
    border-color: #00FFFF;
    border-style: outset;
    border-radius: 2.5px;
}

QLineEdit
{
    border: 1.2px;
    border-color: #00FFFF;
    border-style: outset;
    border-radius: 2.5px;
    padding: 0 8px;
}

QLineEdit[readOnly="true"]
{
    border: 1.2px;
    border-color: #DC143C;
    border-style: outset;
    border-radius: 2.5px;
    padding: 0 8px;
}

QLineEdit:focus
{
    border: 1.5px;
    border-color: #8A2BE2;
    border-style: outset;
    border-radius: 2.5px;
    padding: 0 8px;
}

QLineEdit:hover
{
    border: 1.5px;
    border-color: #008B8B;
    border-style: outset;
    border-radius: 2.5px;
    padding: 0 8px;
}

QPushButton
{
    border: 1.2px;
    border-color: #00FFFF;
    border-style: outset;
    border-radius: 2.5px;
    padding: 0 8px;
}

QPushButton:hover
{
    border: 1.5px;
    border-color: #8A2BE2;
    border-style: outset;
    border-radius: 2.5px;
    padding: 0 8px;
}

QScrollBar:vertical
{
    border: 1px outset;
    border-color: #8A2BE2;
    border-radius: 2.5px;
    background: black;
    width:10px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:vertical
{
    border-radius: 2.5px;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
    stop: 0 rgb(0,255,255), stop: 0.5 rgb(0,255,255), stop:1 rgb(0,255,255));
    min-height: 0px;
}

QScrollBar::add-line:vertical
{
   border-radius: 2.5px;
   background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
   stop: 0 rgb(0,255,255), stop: 0.5 rgb(0,255,255),  stop:1 rgb(0,255,255));
   height: 0px;
   subcontrol-position: bottom;
   subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
   border-radius: 2.5px;
   background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
   stop: 0  rgb(0,255,255), stop: 0.5 rgb(0,255,255),  stop:1 rgb(0,255,255));
   height: 0 px;
   subcontrol-position: top;
   subcontrol-origin: margin;
}

QScrollBar:vertical:hover
{
    border-radius: 2.5px;
    border: 1px outset;
    border-color: #00FFFF;
    background: black;
    width:10px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:vertical:hover
{
    border-radius: 2.5px;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
    stop: 0 rgb(138,43,226), stop: 0.5 rgb(138,43,226), stop:1 rgb(138,43,226));
    min-height: 0px;
}

QScrollBar::add-line:vertical:hover
{
   border-radius: 2.5px;
   background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
   stop: 0 rgb(138,43,226), stop: 0.5 rgb(138,43,226),  stop:1 rgb(138,43,226));
   height: 0px;
   subcontrol-position: bottom;
   subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover
{
   border-radius: 2.5px;
   background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
   stop: 0  rgb(138,43,226), stop: 0.5 rgb(138,43,226),  stop:1 rgb(138,43,226));
   height: 0 px;
   subcontrol-position: top;
   subcontrol-origin: margin;
}

QScrollBar:horizontal
{
    border: 1px outset;
    border-color: #8A2BE2;
    border-radius: 2.5px;
    background: black;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:horizontal
{
    border-radius: 2.5px;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
    stop: 0 rgb(0,255,255), stop: 0.5 rgb(0,255,255), stop:1 rgb(0,255,255));
    min-height: 0px;
}

QScrollBar::add-line:horizontal
{
   border-radius: 2.5px;
   background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
   stop: 0 rgb(0,255,255), stop: 0.5 rgb(0,255,255),  stop:1 rgb(0,255,255));
   height: 0px;
   subcontrol-position: bottom;
   subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal
{
   border-radius: 2.5px;
   background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
   stop: 0  rgb(0,255,255), stop: 0.5 rgb(0,255,255),  stop:1 rgb(0,255,255));
   height: 0 px;
   subcontrol-position: top;
   subcontrol-origin: margin;
}

QScrollBar:horizontal:hover
{
    border-radius: 2.5px;
    border: 1px outset;
    border-color: #00FFFF;
    background: black;
    width:10px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:horizontal:hover
{
    border-radius: 2.5px;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
    stop: 0 rgb(138,43,226), stop: 0.5 rgb(138,43,226), stop:1 rgb(138,43,226));
    min-height: 0px;
}

QScrollBar::add-line:horizontal:hover
{
   border-radius: 2.5px;
   background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
   stop: 0 rgb(138,43,226), stop: 0.5 rgb(138,43,226),  stop:1 rgb(138,43,226));
   height: 0px;
   subcontrol-position: bottom;
   subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal:hover
{
   border-radius: 2.5px;
   background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
   stop: 0  rgb(138,43,226), stop: 0.5 rgb(138,43,226),  stop:1 rgb(138,43,226));
   height: 0 px;
   subcontrol-position: top;
   subcontrol-origin: margin;
}

QLabel
{
    border: 1.2px;
    border-color: #00FFFF;
    border-style: outset;
    border-radius: 2.5px;
    color: #FFD700;
}

QLabel:hover
{
    border: 1.2px;
    border-color: #8A2BE2;
    border-style: outset;
    border-radius: 2.5px;
    color: #FFD700;
}
