QWidget
{
    font: 8pt "Letter Gothic Std", white;
    background-color: black;
    color: #FFD700;
}

QTextEdit
{
    border: 1px solid #00FFFF;
    background-color: black;
    color: #FFD700;
}

QListWidget
{
    border: 1px solid #00FFFF;
    background-color: black;
    color: #FFD700;
}


QLineEdit
{
    border: 1px solid #00FFFF;
    border-radius: 5px;
    padding: 0 8px;
}

QLabel
{
    border: 1px solid #00FFFF;
    border-radius: 5px;
    padding: 2px;
    color: #FFD700;
    font: 8pt "Letter Gothic Std";
}

QPushButton
{
    border: 1.5px solid #00FFFF;
    border-radius: 5px;
    color: #FFD700;
    padding: 0 8px;
}
